.event-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 50px 8%;
        background-color: var(--bg1);
    }

    .event-sec {
        align-items: center;
        justify-content: center;
        flex-direction: row;
        display: flex;
    }

    .event-image {
        flex: 1 1 50%;
    }

    .event-image img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }

    .event-content {
        flex: 1 1 50%;
        padding: 0 40px;
    }

    .event-content small {
        display: block;
        font-size: 14px;
        color: #777;
        margin-bottom: 10px;
    }

    .event-content h1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 15px;
    }

    .event-content h1 span {
        color: var(--accent);
        font-family: Georgia, serif;
        font-style: italic;
    }

    .event-content .about-description {
        overflow: scroll;
        height: 200px;
        margin-bottom: 1rem;
    }
    
    .event-content p {
        font-size: .9rem;
        margin-bottom: 1rem;
        color: var(--light);
        font-size: 0.95rem;
        line-height: 1.6;
        font-weight: 400;

    }

    .event-details {
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .detail-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .detail-box i {
        width: 50px;
        height: 50px;
        background-color: var(--accent);
        padding: 8px;
        border-radius: 6px;
        color: var(--bg2);
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--accent);
    }

    .detail-box div {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .detail-box div.date,
    .detail-box div.location {
        font-size: 16px;
    }

    .detail-box strong {
        font-size: 18px;
        color: var(--light);
    }

    .detail-box span {
        font-size: 14px;
        color: #777;
    }

    .register-btn {
        display: inline-block;
        padding: 14px 25px;
        background-color: var(--accent);
        color: var(--bg2);
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        font-size: 15px;
        transition: background 0.3s ease;
    }

    .register-btn:hover {
        background-color: transparent;
        border: 2px solid var(--accent);
        color: var(--accent);
    }

    /* Responsive */
    @media (max-width: 992px) {

        .event-section {
            flex-direction: column;
        }
        .event-content {
            padding: 30px 0 0;
        }

        .event-sec {
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 20px;
        }   
    }

    @media (max-width: 768px) {
        .reason-container {
            margin: 1.5rem 0 0 !important;
        }
    }
        
    